* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100%;
}

body {
    /* background: url(../Img/male.png) no-repeat; */
    background-position: right;
    background-color: black;
}

.container .img2{
    width: 40%;
    height: 80%;
    margin-left: 900px;
    margin-top: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.navbar ul {
    display: flex;
    margin: 0 0 0 80px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.navbar ul li a:hover {
    transition: 0.5s ease-in;
    background-color: blueviolet;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.content {
    position: absolute;
    top: 33%;
    left: 7%;
}

.content .text {
    font-size: 1.9rem;
    color: white;
}

.content .name {
    font-size: 5.8rem;
    color: white;
}

.content .job {
    display: flex;
    font-size: 2.5rem;
    color: white;
}

.content .job .typing-text {
    color: blueviolet;
    overflow: hidden;
    border-right: 4px solid blueviolet;
    white-space: nowrap;
    margin: 0 0 0 10px;
    animation: typing 5s steps(18) infinite;
}

@keyframes typing {
    0% {
        width: 0ch;
    }

    50% {
        width: 18ch;
    }

    100% {
        width: 0ch;
    }
}


.git img {
    margin: 10px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.git img:hover {
    opacity: 0.6;
}

.btn a {
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    margin: 10px 0 0 0;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
}

.btn:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* Media Queries */

/* For screens smaller than 768px (tablets and mobiles) */
@media (min-width: 481px) and (max-width: 768px) {
    .container .img2{
        width: 40%;
        height: 40%;
        margin-left: 350px;
        margin-top: 100px;
    }
    .navbar {
        height: 60px;
    }

    .navbar ul {
        margin: 0 0 0 40px;
    }

    .navbar ul li a {
        margin: 10px;
        padding: 5px;
        font-size: 1.3rem;
    }

    .content {
        top: 25%;
        left: 5%;
    }

    .content .text {
        font-size: 1.2rem;
    }

    .content .name {
        font-size: 3.5rem;
    }

    .content .job {
        font-size: 1.5rem;
    }

    .git img {
        width: 40px;
        height: 40px;
    }

    .btn {
        padding: 5px;
        font-size: 0.8rem;
    }
}

/* For screens smaller than 480px (mobiles) */
@media only screen and (max-width: 480px) {
    
    .container .img2{
        width: 40%;
        height: 20%;
        margin-left: 220px;
        margin-top: 80px;
    }
    .navbar {
        height: 40px;
        text-align: center;
    }

    .navbar ul {
        margin: 0 0 0 -25px;
    }

    .navbar ul li a {
        margin: 5px;
        padding: 3px;
        font-size: 0.8rem;
    }

    .content {
        top: 20%;
        left: 3%;
    }

    .content .text {
        font-size: 1rem;
    }

    .content .name {
        font-size: 2rem;
    }

    .content .job {
        font-size: 1rem;
    }

    .git img {
        width: 20px;
        height: 20px;
    }

    .btn {
        padding: 3px;
        font-size: 0.5rem;
    }
}