* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 52px;
}

.navbar ul {
    display: flex;
    margin: 0 0 0 80px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.navbar ul li a:hover {
    transition: 0.5s ease-in;
    background-color: blueviolet;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

body {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
}


/* main.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
} */

.col header.title {
    font-size: 1.3rem;
    font-family: helvetica;
    color: blueviolet;
    padding: 0px 0px 20px 30px;
}

.col .contents {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
    display: flex;
}

.col .contents .box {
    width: 600px;
    position: relative;
    padding: 20px 20px 20px 20px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.col .contents .box:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}

.box h4 {
    font-size: 1.5rem;
    position: relative;
    color: blueviolet;
}

.box h3 {
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: white;
}

.box h2 {
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: white;
}

.box p {
    line-height: 1.2;
    color: white;
    font-size: 17px;
}

span {
    color: blueviolet;
}
.col-2 header.title-2 {
    font-size: 1.3rem;
    font-family: helvetica;
    color: blueviolet;
    padding: 0px 0px 20px 30px;
    /* display: flex;
    flex-direction: column; */
}

.col-2 .contents-2 {
    display: flex;
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}

.col-2 .contents-2 .box-2 {
    width: 600px;
    position: relative;
    padding: 20px 20px 20px 20px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}

.col-2 .contents-2 .box-2:hover {
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}

.box-2 h4 {
    font-size: 1.5rem;
    position: relative;
    color: blueviolet;
}

.box-2 h3 {
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: white;
}

.box-2 h2 {
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: white;
}

.box-2 p {
    line-height: 1.2;
    color: white;
    font-size: 17px;
}


/* @media(max-width: 768px) {
    main.row {
        grid-template-columns: 1fr;
    }

    .row .col:nth-child(2) {
        margin-top: 30px;
    }
} */

/* Add this to make the navigation menu responsive
.navbar ul {
    flex-wrap: wrap;
}

/* Add this to make the grid responsive */
/* main.row {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}  */

/* Add this to make the layout responsive on smaller screens */
@media (min-width: 481px) and (max-width: 768px) {
    .navbar {
        height: 60px;
    }

    .navbar ul {
        margin: 0 0 0 40px;
    }

    .navbar ul li a {
        margin: 10px;
        padding: 5px;
        font-size: 1.3rem;
    }

    .col header.title {
        font-size: 0.8rem;
        font-family: helvetica;
        color: blueviolet;
        padding: 0px 0px 20px 15px;
    }
    
    .col .contents {
        display: flex;
        padding: 0px 10px;
        border-left: 2px solid #bababa;
        display: flex;
    }
    
    .col .contents .box {
        display: flex;
        flex-direction: column;
        width: 500px;
        position: relative;
        padding: 10px;
        border: 1px solid #eaeaea;
        cursor: pointer;
        transition: all 0.4s;
        margin-bottom: 20px;
    }
    
    .col .contents .box:hover {
        box-shadow: 0px 3px 12px 0px #ccc;
        border: 1px solid transparent;
    }
    
    .box h4 {
        font-size: 0.8rem;
        position: relative;
        color: blueviolet;
    }
    
    .box h3 {
        font-size: 12px;
        padding: 10px 0px 6px;
        font-family: helvetica;
        color: white;
    }
    
    .box h2 {
        font-size: 12px;
        padding: 10px 0px 6px;
        font-family: helvetica;
        color: white;
    }
    
    .box p {
        line-height: 1.2;
        color: white;
        font-size: 13px;
    }
    
    span {
        color: blueviolet;
    }
    .col-2 header.title-2 {
        margin-top: 10px;
        font-size: 0.8rem;
        font-family: helvetica;
        color: blueviolet;
        padding: 0px 0px 20px 15px;
    }
    
    .col-2 .contents-2 {
        padding: 0px 10px;
        border-left: 2px solid #bababa;
        display: flex;
    }
    
    .col-2 .contents-2 .box-2 {
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
        padding: 10px;
        border: 1px solid #eaeaea;
        cursor: pointer;
        transition: all 0.4s;
        margin-bottom: 20px;
    }
    
    .col-2 .contents-2 .box-2:hover {
        box-shadow: 0px 3px 12px 0px #ccc;
        border: 1px solid transparent;
    }
    
    .box-2 h4 {
        font-size: 0.8rem;
        position: relative;
        color: blueviolet;
    }
    
    .box-2 h3 {
        font-size: 12px;
        padding: 10px 0px 6px;
        font-family: helvetica;
        color: white;
    }
    
    .box-2 h2 {
        font-size: 12px;
        padding: 10px 0px 6px;
        font-family: helvetica;
        color: white;
    }
    
    .box-2 p {
        line-height: 1.2;
        color: white;
        font-size: 13px;
    }

}

/* Add this to make the layout responsive on even smaller screens */
@media (max-width: 480px) {
    .navbar {
        height: 40px;
        text-align: center;
    }

    .navbar ul {
        margin: 0 0 0 -25px;
    }

    .navbar ul li a {
        margin: 5px;
        padding: 3px;
        font-size: 0.8rem;
    }

    .container {
        padding: 20px 5%;
    }

    .box h4 {
        font-size: 0.8rem;
    }

    .box h3,
    .box h2 {
        font-size: 12px;
    }

    .box p {
        font-size: 13px;
    }
    
    .col header.title {
        font-size: 0.8rem;
        font-family: helvetica;
        color: blueviolet;
        padding: 0px 0px 20px 15px;
    }
    
    .col .contents {
        display: flex;
        flex-direction: column;
        padding: 0px 10px;
        border-left: 2px solid #bababa;
        display: flex;
    }
    
    .col .contents .box {
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
        padding: 10px;
        border: 1px solid #eaeaea;
        cursor: pointer;
        transition: all 0.4s;
        margin-bottom: 20px;
    }
    
    .col .contents .box:hover {
        box-shadow: 0px 3px 12px 0px #ccc;
        border: 1px solid transparent;
    }
    
    .box h4 {
        font-size: 0.8rem;
        position: relative;
        color: blueviolet;
    }
    
    .box h3 {
        font-size: 12px;
        padding: 10px 0px 6px;
        font-family: helvetica;
        color: white;
    }
    
    .box h2 {
        font-size: 12px;
        padding: 10px 0px 6px;
        font-family: helvetica;
        color: white;
    }
    
    .box p {
        line-height: 1.2;
        color: white;
        font-size: 13px;
    }
    
    span {
        color: blueviolet;
    }
    .col-2 header.title-2 {
        margin-top: 10px;
        font-size: 0.8rem;
        font-family: helvetica;
        color: blueviolet;
        padding: 0px 0px 20px 15px;
    }
    
    .col-2 .contents-2 {
        padding: 0px 10px;
        border-left: 2px solid #bababa;
        display: flex;
        flex-direction: column;
    }
    
    .col-2 .contents-2 .box-2 {
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
        padding: 10px;
        border: 1px solid #eaeaea;
        cursor: pointer;
        transition: all 0.4s;
        margin-bottom: 20px;
    }
    
    .col-2 .contents-2 .box-2:hover {
        box-shadow: 0px 3px 12px 0px #ccc;
        border: 1px solid transparent;
    }
    
    .box-2 h4 {
        font-size: 0.8rem;
        position: relative;
        color: blueviolet;
    }
    
    .box-2 h3 {
        font-size: 12px;
        padding: 10px 0px 6px;
        font-family: helvetica;
        color: white;
    }
    
    .box-2 h2 {
        font-size: 12px;
        padding: 10px 0px 6px;
        font-family: helvetica;
        color: white;
    }
    
    .box-2 p {
        line-height: 1.2;
        color: white;
        font-size: 13px;
    }
}